@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: 255 255 255;
  --black: 0 0 0;
  --ring: 91 151 15;
  --code-bg: 229 231 235;
  --link: 13 91 151;

  --gray-50: 249 250 251;
  --gray-200: 229 231 235;
  --gray-500: 107 114 128;
  --gray-700: 55 65 81;
  --gray-900: 17 24 39;

  --neutral-50: 250 250 250;
  --neutral-100: 245 245 245;
  --neutral-200: 229 229 229;
  --neutral-300: 212 212 212;
  --neutral-400: 163 163 163;
  --neutral-700: 64 64 64;
  --neutral-900: 23 23 23;
  --neutral-950: 10 10 10;

  --primary-50: 241 248 254;
  --primary-100: 226 240 252;
  --primary-700: 13 91 151;
  --primary-900: 18 65 104;

  --green-500: 34 197 94;
  --red-500: 239 68 68;
  --red-600: 220 38 38;

  --secondary: 91 151 15;
}

a,
button,
summary,
input,
textarea {
  @apply focus-visible:outline-0 focus-visible:ring focus-visible:ring-secondary;
}

/* Navigation */
.header-navigation {
  @apply hidden;
}

.header-navigation.show {
  @apply flex;
}

@screen md {
  .header-navigation {
    @apply flex;
  }
}

/* Collapse animation */
.ReactCollapse--collapse {
  @apply transition-[height];
}

/* Utilities */
.triangle-path::after {
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.prose-modifier {
  @apply max-w-[80ch] prose-code:bg-gray-200 prose-code:px-1 prose-code:py-[2px] prose-code:rounded-md prose-code:font-normal prose-code:before:content-none prose-code:after:content-none prose-img:rounded-md prose-img:border prose-img:mt-0 prose-img:mb-3 prose-h2:font-medium prose-h3:font-medium prose-strong:font-medium prose-a:no-underline prose-a:font-medium prose-a:border-b prose-a:border-primary-700 hover:prose-a:border-b-2;
}
